@use 'sass:map';
@use 'functions' as *;
@use 'mixins' as *;

audio[controls] {
  min-height: 38px;
  width: 500px;
}

pre {
  tab-size: 4;
  -moz-tab-size: 4;
  border: 1px solid var(--bs-border-color);
  padding: 1rem;
  position: relative;
  line-height: 1.15rem;

  .line-highlight {
    position: absolute;
    height: 1em;
    left: 0;
    right: 0;
    background: #FF8800;
    margin-top: 1rem;
    top: 0;
    font-size: 1.15rem;
    opacity: 0.25;
    pointer-events: none;
    transform: translateY(-0.1rem);
  }
}

.bbcode {
  max-width: 100%;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;

  margin-bottom: 10px;

  // Fix some margins
  table, ul, ol, pre, .embed-panel {
    margin-top: 10px;
  }

  h1 {
    background-color: initial;
    color: away(var(--bs-body-color), 0.15);
    border-bottom: 1px solid var(--twhl-brand);
    padding: 0.3rem 0;
  }

  .card {
    margin-bottom: 1rem;

    .card-header {
      padding: 0.5rem 1rem;
    }

    .card-body {
      padding: 0.75rem 1rem;
    }
  }

  ul ul, ul ol, ol ul, ol ol {
    margin-top: 0;
  }

  &::after {
    content: '';
    display: block;
    clear: both;
  }

  span.strikethrough {
    text-decoration: line-through;
  }

  span.underline {
    text-decoration: underline;
  }

  span.blue {
    color: blue;
  }

  span.green {
    color: green;
  }

  span.purple {
    color: purple;
  }

  span.red {
    color: red;
  }

  span.yellow {
    color: #df9800; // this class is just a straight-up liar
  }

  [data-bs-theme="dark"] & {
    span.blue {
      color: #4f87ff;
    }

    span.green {
      color: #18c60e;
    }

    span.purple {
      color: #a86afa;
    }

    span.red {
      color: #ff5b5b;
    }

    span.yellow {
      color: #ffa642;
    }
  }

  span.spoiler {
    color: transparent;
    background-color: towards(var(--bs-body-color), 0.25);
    border: 1px solid towards(var(--bs-body-color), 0.25);
    padding-right: 3px;

    &::before {
      display: inline;
      color: var(--bs-body-color);
      background-color: var(--bs-body-bg);
      content: attr(title);
      padding: 0 3px;
      margin-right: 3px;
    }

    &:hover, &.on {
      color: towards(var(--bs-body-bg), 0.25);
    }
  }

  .row {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  // Caption panel
  .caption-panel {
    display: inline-block;
    max-width: 100%;

    @extend .card;
    @extend .card-body;

    padding: 0px;
    margin: 0;

    .caption-body {
      padding: 5px;
      display: block;
      max-width: 100%;
      margin: 0 auto;
    }

    .caption {
      display: block;
      padding: 0 5px 5px;
      text-align: center;
      font-size: 1.3em;
      max-height: 6em;
      overflow: hidden;
    }
  }

  blockquote {
    padding: 10px 20px;
    border-left: 5px solid var(--bs-border-color);

    margin: 15px 0;
    color: rgb(from var(--bs-body-color) r g b / 0.75);

    .quote-name {
      display: block;
    }
  }

  // Embedded images / video
  .embedded {
    display: block;
    text-align: center;
    margin: 15px auto;

    &.inline {
      display: inline-block;
      max-width: 200px;
      vertical-align: middle;
      margin: 0;

      .caption-panel {
        border: 0;
      }

      .caption-body {
        padding: 0;
      }
      img[src^="https://twhl.info/images/games/"] {
        height: 1.4em;
      }
    }

    &.left, &.right {
      width: 50%;
      margin: 0 0 20px;
    }

    &.left {
      float: left;
      clear: left;
      margin-right: 20px;
    }

    &.right {
      float: right;
      clear: right;
      margin-left: 20px;
    }

    &.large {
    }

    &.medium {
      max-width: 400px;
    }

    &.small {
      max-width: 200px;
    }

    &.thumb {
      max-width: 100px;
    }

    &.large .caption {
      font-size: 1.3em;
    }

    &.medium .caption {
      font-size: 1.1em;
    }

    &.small .caption {
      font-size: 1em;
    }

    &.thumb .caption {
      font-size: 0.8em;
    }
  }

  table .embedded {
    @extend .embedded, .inline;
  }

  // panels
  .card-block {
    @extend .card-body;
  }

  .card-success {
    --bs-card-bg: var(--bs-success-bg-subtle);
    --bs-card-color: var(--bs-success-text-emphasis);
    --bs-card-cap-bg: var(--bs-success-border-subtle);
    --bs-card-cap-color: var(--bs-body-color);
  }

  .card-info {
    --bs-card-bg: var(--bs-info-bg-subtle);
    --bs-card-color: var(--bs-info-text-emphasis);
    --bs-card-cap-bg: var(--bs-info-border-subtle);
    --bs-card-cap-color: var(--bs-body-color);
  }

  .card-warning {
    --bs-card-bg: var(--bs-warning-bg-subtle);
    --bs-card-color: var(--bs-warning-text-emphasis);
    --bs-card-cap-bg: var(--bs-warning-border-subtle);
    --bs-card-cap-color: var(--bs-body-color);
  }

  .card-danger {
    --bs-card-bg: var(--bs-danger-bg-subtle);
    --bs-card-color: var(--bs-danger-text-emphasis);
    --bs-card-cap-bg: var(--bs-danger-border-subtle);
    --bs-card-cap-color: var(--bs-body-color);
  }

  .video .caption-panel {
    display: block;
  }

  // JS lazy-loading video / Bootstrap responsive video embed
  .video-content {

    @extend .ratio;
    --bs-aspect-ratio: calc(9 / 16 * 100%);

    .uninitialised {
      cursor: pointer;
      background-size: cover;
      background-position: center center;

      &::after {
        background-color: rgba(128, 200, 255, 0.4);
        bottom: 0;
        content: "";
        display: block;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        background-image: url('../images/video_overlay.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 15% auto;
      }
    }
  }

  // Other lazy-loading embedded content

  .embed-container {
    display: block;

    @extend .card;
    @extend .card-body;

    padding: 10px;

    .embed-content {
      overflow: hidden;

      h2 {
        margin: 0 0 4px;
      }
    }

    .embed-image {
      margin-top: 15px;
      max-height: 500px;
    }

    img {
      max-width: 100%;
    }

    .uninitialised {
      line-height: 500px;
      font-size: 2em;
      padding: 30px;
      background-color: away(var(--bs-body-bg), 0.25);
    }

    .slider, &.slider {
      height: 340px;
    }

    .slides {
      height: 250px;
    }

    @media (min-width: map.get($grid-breakpoints, 'md')) {
      .slider, &.slider {
        height: 440px;
      }
      .slides {
        height: 350px;
      }
    }

    @media (min-width: map.get($grid-breakpoints, 'lg')) {
      .slider, &.slider {
        height: 540px;
      }
      .slides {
        height: 450px;
      }
    }

    @media (min-width: map.get($grid-breakpoints, 'xl')) {
      .slider, &.slider {
        height: 640px;
      }
      .slides {
        height: 550px;
      }
    }
  }

  .contents {
    h2 {
      margin: 0 0 2px;
      padding: 0 0 4px;
      border-bottom: 1px solid var(--bs-border-color);
      font-size: 15px;
      text-align: center;
    }

    ul {
      border: 1px solid var(--twhl-brand);
      display: inline-block;
      list-style: none;
      padding: 10px 20px;
      margin-top: 0;
    }

    .level-1 {
      margin-left: 0px;
    }

    .level-2 {
      margin-left: 8px;
    }

    .level-3 {
      margin-left: 16px;
    }

    .level-4 {
      margin-left: 24px;
    }

    .level-5 {
      margin-left: 32px;
    }

    .level-6 {
      margin-left: 40px;
    }
  }
}

span.bbcode {
  display: inline-block;
  margin-bottom: 5px;
}

.smiley-dropdown {
  .btn-link:hover {
    background: rgba(0, 0, 0, 0.2);
  }
}