.countdown-container {
    max-width: 300px;
    margin: 0 auto;
    background-color: rgb(127 127 127 / 0.25);
    border: 1px solid rgb(127 127 127 / 0.5);
    padding: 0.5rem 0;
    display: flex;
    flex-direction: column;

    .countdown-timer {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        .countdown-unit-container {
            display: flex;
            flex-direction: column;

            .countdown-unit {
                font-size: 1.8rem;
            }
            .countdown-unit-name {
                font-size: 0.75rem;
            }
        }
    }
}
