@import "../css/dropzone";

.dropzone {
  border: 2px solid var(--bs-border-color);
  border-radius: 10px;

  .dz-message {
    font-size: 20px;
  }

  &.dz-drag-hover {
    border-color: var(--bs-primary);
    background-color: var(--bs-gray-200);
  }
}