body {
  &.egg-ninja {
      background-image: url('../images/egg/ninja-transparent.gif');
    }
  &.egg-ant {
    background-image: url('../images/egg/antlovesyou.gif');
  }
  &.egg-pride {
    --pride-gradient: linear-gradient(
      135deg,
      #ff6363, #ffcc72, #ffff76,
      #7bff7b, #9292ff, #cf87ff,
      white, #ffa6b9, #6be1ff
    );

    .header-desktop {
      .header-image {
        a {
          &:hover {
            //text-shadow: var(--pride-gradient) 0 0 2px;
            //text-decoration: none;
          }
          .subtitle, .title {
            background-image: var(--pride-gradient);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
          }
        }
      }
    }
  }
}

.header-desktop .snowfield {
  position: absolute;
  top: -1rem;
  bottom: -1rem;
  left: -1rem;
  right: -1rem;

  pointer-events: none;
  filter: drop-shadow(0 0 5px white);

  .snowflake {
    position: absolute;
    width: 0.4rem;
    height: 0.4rem;
    background: white;
    border-radius: 50%;
  }

  .snow-corner-left {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
  }

  .snow-corner-right {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }
}