
textarea.form-control {
  height: 350px;
  &.gargantuan { height: 1200px; }
  &.massive { height: 800px; }
  &.huge { height: 600px; }
  &.medium { height: 250px; }
  &.small { height: 150px; }
  &.tiny { height: 80px; }
}

// New bootstrap stuff
$btn-padding-x-xs: .4rem;
$btn-padding-y-xs: .15rem;
$btn-border-radius-xs: .15rem;

.btn-xs {
  @include button-size($btn-padding-y-xs, $btn-padding-x-xs, $font-size-xs, 1.5, $btn-border-radius-xs);
}

.btn-xxs {
  @include button-size(0, 0, 0.625rem, 1.4em, 10rem);
  width: 1.5em;
  height: 1.5em;
}

.btn-minimal {
  @extend .btn-link;
  color: $secondary;

  &, &:active, &.active, &[disabled], fieldset[disabled] & {
    background-color: #f6f6f6;
  }

  &:hover, &:focus {
    text-decoration: none;
    background-color: #dedede;
  }
}

// fullscreen wikicode editor
.full-screen-wikicode-editor {
  position: fixed;
  inset: 0.5rem;
  border-radius: 0.25rem;
  background: var(--light);
  z-index: 999;
  border: 1px solid var(--dark);
  padding: 0.5rem;
  display: flex;
  flex-flow: row;
  gap: 1rem;

  & > * {
    flex-basis: 50%;
    flex-grow: 0;
    flex-shrink: 1;
    min-width: 0;
  }

  & > .form-group {
    display: flex;
    flex-flow: column;
    margin-bottom: 0;

    & > textarea, & > .card {
      flex-grow: 1;
    }
    & > a, & > label {
      display: none;
    }
    & > h4 {
      margin: 0;
      padding: 0;
      line-height: 1.5rem;
      margin-bottom: 0.25rem;
    }
    & > .card {
      overflow: auto;
      & > .card-body {
        overflow: visible;
        &::after {
          height: 1.5rem;
        }
      }
    }
  }
  & [data-position].current-cursor {
    margin-right: 0.5rem;
    position: relative;
    &::after {
      content: '';
      width: 0.25rem;
      background: red;
      height: 1.6em;
      position: absolute;
    }
  }

  .preview-button {
    display: none;
  }
}