
textarea.form-control {
  height: 350px;
  &.gargantuan { height: 1200px; }
  &.massive { height: 800px; }
  &.huge { height: 600px; }
  &.medium { height: 250px; }
  &.small { height: 150px; }
  &.tiny { height: 80px; }
}

// New bootstrap stuff
$btn-padding-x-xs: .4rem;
$btn-padding-y-xs: .15rem;
$btn-border-radius-xs: .15rem;

.btn-xs {
  @include button-size($btn-padding-y-xs, $btn-padding-x-xs, $font-size-xs, 1.5, $btn-border-radius-xs);
}

.btn-xxs {
  @include button-size(0, 0, 0.625rem, 1.4em, 10rem);
  width: 1.5em;
  height: 1.5em;
}

.btn-minimal {
  @extend .btn-link;
  color: $secondary;

  &, &:active, &.active, &[disabled], fieldset[disabled] & {
    background-color: #f6f6f6;
  }

  &:hover, &:focus {
    text-decoration: none;
    background-color: #dedede;
  }
}