.home-page {
  .forum {
    .bbcode {
      max-height: 8em;
      overflow: hidden;
    }
  }

  .vault-items {
    @media (max-width: map_get($grid-breakpoints, 'md') - 1px) {
      position: relative;

      &.scroll-left::before {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 40px;
        background: linear-gradient(to right, rgba(255,255,255,1) 25%,rgba(255,255,255,0) 100%);
        z-index: 1;
      }

      &.scroll-right::after {
        content: ' ';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 40px;
        background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 75%);
        z-index: 1;
      }
    }
  }

  .active-users {
    ul {
      list-style: none;
      padding: 0;
      margin-bottom: 0;

      li {
        margin-bottom: 2px;
        border-bottom: 1px solid #dedede;
        padding: 0 5px 2px;
      }
      li:last-child {
        margin: 0;
        padding: 0 5px;
        border: 0;
      }
    }
  }

  .wiki-feature {
    h2 {
      margin: 3px;
      padding: 0;
      font-size: 16px;
      text-align: center;
    }

    ul {
      list-style: none;
      padding: 0;
      margin-bottom: 0;

      li {
        margin-bottom: 2px;
        border-bottom: 1px solid #dedede;
        padding: 0 5px 2px;
      }
      li:last-child {
        margin: 0;
        padding: 0 5px;
        border: 0;
      }
    }
  }
}