.home-page {
  .forum {
    .bbcode {
      max-height: 8em;
      overflow: hidden;
    }
  }
}

.active-users li {
  border-bottom: 1px solid #dedede;

  &:last-child {
    border-bottom: none;
  }
}