// Stuff that's everywhere

body {
    background: url(../images/body-background.png) #f4f4f4;
}

body > .container {
  background: $content-background-color;
  padding-bottom: 1rem;
}

body > footer {
  padding: 40px 15px;
  text-align: center;
  font-size: .9em;
}

.table {
  .td, .th {

  }
  > thead > tr > th {
    border-bottom-color: $twhl-brand;
  }
}

.breadcrumb {
  margin-bottom: 0.5rem;
  padding: 0;

  li {
    @extend .breadcrumb-item;
  }
}

.bbcode {
  max-width: 100%;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}