header {

  @media (max-width: map_get($grid-breakpoints, 'sm') - 1px) {
    .container {
      width: 100%;
    }
  }

  .nav-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .nav-avatar {
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-form {
    padding: 10px;

    .form-group:last-child {
      margin-bottom: 0;
    }
  }

  .navbar-search-inline {

  }

  .navbar-search-dropdown {
    .navbar-form {
      padding: 0 10px;
    }
    input.form-control {
      width: 200px;
    }
  }

  .navbar-login-dropdown {
    .dropdown-menu {
      padding: 0;
    }
  }

  .navbar-form {
    .input-group {
      background: #fff;
    }
    &.login-form {
      min-width: 250px;
    }
  }

  .dropdown-item .fa {
      width: 24px;
      text-align: center;
  }

  > nav.bg-dark .dropdown-menu {
    background: $dark;
    color: $navbar-inverse-color;

    a {
      color: $navbar-inverse-color;
    }

    .dropdown-item {
      color: $navbar-inverse-color;

      @include hover-focus {
        color: $navbar-dark-active-color;
        text-decoration: none;
        background-color: darken($gray-dark, 5%);
      }
    }
  }
}

.header-desktop {
  margin: 0 -15px;

  .header-image {

    .wrapper {
      display: flex;
      flex-flow: row nowrap;
      align-items: stretch;
      height: 80px;
      background: linear-gradient(to left, rgba(0,0,0,0) 50%,rgba(0,0,0,0.5) 75%);
    }

    background: #333 url("/images/header/header-1.jpg") center center;

    @for $i from 1 through 20 {
        &.header-#{$i} { background: url("/images/header/header-#{$i}.jpg") center center; }
    }

    a {
      display: flex;
      flex-flow: row nowrap;
      padding: 1rem;
      color: $twhl-brand;

      &:hover {
        text-shadow: $twhl-brand 0 0 2px;
        text-decoration: none;
      }

      img {
        flex: 1 1 auto;
        height: 100%;
        margin-right: 0.5rem;
      }

      .logo-text {
        display: flex;
        flex-flow: column nowrap;
      }

      .title {
        font-size: 1.6rem;
        line-height: 1.6rem;
        margin-bottom: 0.3rem;
      }

      .subtitle {
        font-size: 0.8rem;
        line-height: 0.8rem;
      }
    }
  }

  .header-nav {
    padding-left: 0.5rem;
    padding-right: 0.75rem;

    .nav-link {
      color: white;
      font-size: 0.95rem;
    }

    .nav-avatar {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;

      img, .fa {
        margin-right: 0.25rem;
      }
    }

    .navbar-search-form {
      padding: 0.25rem;
    }

    .dropdown-menu {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-top: 0;
      font-size: 0.9rem;
    }
  }
}