
// hidden-*-only classes
@each $bp in map-keys($grid-breakpoints) {
  .hidden-#{$bp}-only {
    @include media-breakpoint-only($bp) {
      display: none !important;
    }
  }
}

@media (max-width: map_get($grid-breakpoints, 'sm') - 1px) {
  .pagination {
    li {
      display: none;

      &.active, &.disabled,
      &:first-child, &:last-child,
      &:nth-child(2), &:nth-child(3),
      &:nth-last-child(2), &:nth-last-child(3) {
        display: inline;
      }
    }
  }
}


// Added from the BS4-A6 code
@mixin media-breakpoint-up($name, $breakpoints: $grid-breakpoints) {
  $min: breakpoint-min($name, $breakpoints);
  @if $min {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin media-breakpoint-down($name, $breakpoints: $grid-breakpoints) {
  $max: breakpoint-max($name, $breakpoints);
  @if $max {
    @media (max-width: $max) {
      @content;
    }
  } @else {
    @content;
  }
}

@each $bp in map-keys($grid-breakpoints) {
  .hidden-#{$bp}-up {
    @include media-breakpoint-up($bp) {
      display: none !important;
    }
  }
  .hidden-#{$bp}-down {
    @include media-breakpoint-down($bp) {
      display: none !important;
    }
  }
}