
// hidden-*-only classes
@each $bp in map-keys($grid-breakpoints) {
  .hidden-#{$bp}-only {
    @include media-breakpoint-only($bp) {
      display: none !important;
    }
  }
}

@media (max-width: map_get($grid-breakpoints, 'sm') - 1px) {
  .pagination {
    li {
      display: none;

      &.active, &.disabled,
      &:first-child, &:last-child,
      &:nth-child(2), &:nth-child(3),
      &:nth-last-child(2), &:nth-last-child(3) {
        display: inline;
      }
    }
  }
}

