@use 'functions' as *;
@use 'sass:map';

.shoutbox {
  position: fixed;
  top: auto;
  bottom: 0;
  left: auto;
  right: 20px;
  border: 1px solid darker(var(--bs-border-color), 0.25);
  border-bottom: 0;
  width: 150px;
  max-height: 50%;
  height: 24px;
  background-color: var(--bs-body-bg);
  z-index: 500;

  transition: all 0.3s ease;

  display: flex;
  flex-flow: column nowrap;

  &.position-left {
    left: 20px;
    right: auto;
  }

  &.state-open, &.state-default {
    width: 300px;
    height: 450px;
    transition: all 0.3s ease;

    .expand-button {
      display: none;
    }
    .minimise-button {
      display: inline-block;
    }
  }

  &.state-closed {
    .expand-button {
      display: inline-block;
    }
    .minimise-button {
      display: none;
    }

    cursor: pointer;
    h1:hover {
      background-color: rgb(236, 208, 37);
    }
  }

  h1 {
    height: 25px;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    background-color: rgb(236, 172, 57);
    padding: 4px;
    color: white;
    transition: background-color 0.5s ease;
    flex: 0 0 auto;

    a {
      float: right;
      padding: 1px 6px;
      color: white;

      &:hover {
        background-color: rgb(203, 93, 0);
      }
    }
  }

  .shouts {
    flex: 1 1 auto;
    padding: 0;
    margin: 0;
    list-style: none;
    overflow-y: scroll;
    word-wrap: break-word;

    -webkit-overflow-scrolling: touch; // Get momentum scrolling on IOS

    .shout {
      padding: 5px 0;
      margin: 0 5px;
      border-bottom: 1px solid var(--bs-border-color);
      min-height: 55px;

      &:last-child {
        border: 0;
      }

      .user, .text, .avatar, .message {
        display: block;
      }

      .avatar {
        float: left;
        margin: 0;
        padding: 0;

        img {
          width: 45px;
          height: 45px;
        }
      }
      .message {
        padding-left: 50px;
      }

      .time {
        float: right;
        font-size: 12px;
        font-style: italic;
        opacity: 0.7;
        line-height: 20px;
      }

      .edit, .delete {
        float: right;
        margin-right: 3px;
        display: none;
      }

      &:hover {
        .edit, .delete {
          display: inline-block;
        }
      }
    }
  }

  form {
    flex: 0 0 auto;
    padding: 0;
    transition: height 0.2s ease;
    background-color: var(--bs-body-bg);

    .btn {
      --bs-btn-border-radius: 0;
    }

    input {
      margin-left: -1px;
    }

    &.inactive {
      text-align: center;
      padding: 5px;
      font-style: italic;
    }
  }
}

// Responsive
@media (max-width: map.get($grid-breakpoints, 'sm') - 1px) {
  .shoutbox {
    left: 0 !important;
    right: 0 !important;
    width: auto !important;
    max-height: none;
    height: 2rem;

    &.state-closed, &.state-default {
      height: 2rem;

      form {
        height: 0;
      }

      .expand-button {
        display: inline-block;
      }
      .minimise-button {
        display: none;
      }
    }

    .position-button {
      display: none !important;
    }

    h1 {
      height: 2rem;
      font-size: 1.3rem;
      line-height: 1.6rem;
      padding: 0.2rem;

      a {
        background: darker(var(--twhl-brand), 0.1);
        margin: 0px 3px;
        padding: 2px 15px;
        border-radius: 4px;
        line-height: 1rem;
      }
    }

    &.open {
      width: auto;
      height: 80%;
    }
    .pin-button {
      display: none !important;
    }
  }
}