@use 'functions' as *;

$twhl-brand: #e68a27;

$font-size-base: 0.9rem;

$link-decoration: none;
$link-hover-decoration: underline;

:root {
  --twhl-brand: #{$twhl-brand};
  --away-direction: 1;
}

[data-bs-theme="dark"] {
  --away-direction: -1;
}