
$twhl-brand: #FEA320;

$content-background-color: #fff;

$tile-background-color: #f9f9f9;
$tile-foreground-color: #000000;

$tile-background-color-alt: #FFFCF9;
$tile-foreground-color-alt: #000000;

$tile-border: 1px solid darken($tile-background-color, 20%);
$tile-border-alt: 1px solid darken($tile-background-color-alt, 20%);

$heading-foreground-color: #2b2b2b;
