@use 'functions' as *;

$twhl-brand: #e68a27;

$font-size-base: 0.9rem;

$link-decoration: none;
$link-hover-decoration: underline;

$border-radius:      0;
$border-radius-sm:   0;
$border-radius-lg:   0;
$border-radius-xl:   0;
$border-radius-xxl:  0;

$btn-border-radius:    0.25rem;
$btn-border-radius-sm: 0.2rem;
$btn-border-radius-lg: 0.3rem;

:root {
  --twhl-brand: #{$twhl-brand};
  --away-direction: 1;
}

[data-bs-theme="dark"] {
  --away-direction: -1;
}