.comment-container {
  .clearfix;
  border-bottom: 1px solid @gray-lighter;

  &:first-child {
    border-top: 1px solid @gray-lighter;
  }

  .comment-info {
    float: left;
    width: 80px;
    margin-right: 10px;

    .avatar {
      margin-bottom: 0px;
    }
  }

  .comment-body {
    padding: 10px;
    margin-left: 80px;

    .comment-meta {
      line-height: 1.6em;
      margin-bottom: 5px;
      min-height: 28px;
      padding-bottom: 5px;
      border-bottom: 1px solid #fafafa;

      .btn {
        float: right;
        margin: 0 2px;
      }
      .stars {
        //display: block;
      }
    }
    .bbcode {
      margin-bottom: 0px;
    }
  }
}

.comment-meta-rating {
  .stars {
    img {
      margin: 0 2px;
      cursor: pointer;
    }
    .btn {
      margin-left: 10px;
    }
  }
}