
h1,h2,h3 {
  .btn {
    float: right;
    margin: 0 2px;
  }
}

.header-container {
  margin-bottom: 10px;
  padding: 10px;
  border-left: 5px solid @twhl-brand;
  border-right: 5px solid transparent;

  &.text-right {
    border-right: 5px solid @twhl-brand;
    border-left: 5px solid transparent;
  }

  .btn {
    float: right;
    margin-left: 4px;
    margin-top: 2px;
  }

  h1, h2, h3 {
    margin: 0;
  }
}

.container, .container-fluid {
  .header-container {
    &:first-child {
      margin-top: 0 !important;
    }
    &:last-child {
      margin-bottom: 0 !important;
    }
  }
}

.row > div, .container, .container-fluid {
  > .header-container {
    margin-left: -15px;
    margin-right: -15px;

    &.text-right {
      margin-left: 0;
      margin-right: -15px;
    }
  }
}

.header-container {

  h1, h2, h3 {
    padding-bottom: 8px;

    small.pull-right {
        margin-top: 3px;
    }
  }

  padding-bottom: 0px;

  .pagination {
    margin: 0;
    padding-bottom: 8px;
  }

  & > .pagination:last-child,
  & > .breadcrumb:last-child {
    padding-bottom: 0;
  }
}

.footer-container {
  text-align: center;
  padding: 10px;

  .pagination {
    margin: 0;
  }
}

/* HR headings (kinda hacky) */
hr[title] {
  position: relative;
  text-align: center;

  &::before {
    content: attr(title);
    position: relative;
    top: -0.7em;
    background: white;
    padding: 0 15px;
  }
}

// Responsive
@media (max-width: @screen-xs-max) {
  .header-container, h1, h2, h3 {
    .btn {
      font-size: 0;

      .glyphicon {
        font-size: 12px;
        line-height: 15px;
      }
    }
  }
  h1, h2, h3 {
    small, small.pull-right {
      float: none !important;
      display: block;
    }
  }
}