body {
  background: url('../images/body-background.png') #F4F4F4;

  > .container, > .container-fluid {
    background-color: white;
    margin-bottom: 20px;
  }
}


// Home page

.home-page {

  h1 {
    color: @twhl-brand;
  }

  .vault-items {
    margin: 0 -30px;

    > div {
      padding-right: 0px;
      padding-bottom: @grid-gutter-width / 2;
    }
  }
  .vault-item {
    position: relative;
    background: #fbfbfb;
    background-size: cover;
    background-position: center center;
    display: block;
    border: 0;
    margin: 0;

    &::before{
      content: '';
      padding-top: 110%*9/16;
      display: inline-block;
    }

    hr {
      margin: 5px;
    }

    .vault-item-details {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      transition: all 0.4s ease;
      background-color: white;
      color: black;
      padding: 10px;
    }

    &:hover .vault-item-details {
      opacity: 0.9;
    }

    .large-title {
      font-size: 1.4em;
      line-height: 1.4em;
    }

    .avatar.small {
      padding: 0;
      margin-bottom: 0;
    }
  }
}