body {
  background: url('../images/body-background.png') #F4F4F4;

  > .container, > .container-fluid {
    background-color: white;
    margin-bottom: 20px;
  }
}


// Home page

.home-page {

  h1 {
    color: @twhl-brand;
  }

  .vault-items {
    margin: 0 -15px 0 -30px;

    > div {
      padding-right: 0px;
      padding-bottom: @grid-gutter-width / 2;
    }
  }
  .vault-item {
    position: relative;
    background: #fbfbfb;
    background-size: cover;
    background-position: center center;
    display: block;
    border: 0;
    margin: 0;

    &::before{
      content: '';
      padding-top: 110%*9/16;
      display: inline-block;
    }

    .vault-item-details {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      transition: all 0.4s ease;
      background-color: white;
      color: black;
      padding: 10px;
      overflow: hidden;

      hr {
        margin: 5px;
      }

      .large-title {
        font-size: 1.4em;
        line-height: 1.4em;
      }

      .avatar.small {
        padding: 0;
        margin-bottom: 0;
      }

      &.small {
        font-size: 0.8em;
        padding: 5px;

        hr {
          margin: 4px;
        }
      }
    }

    &:hover .vault-item-details {
      opacity: 0.9;
    }
  }

  .wiki-edits {
    list-style-type: none;
    padding-left: 0;

    li {
      border-bottom: 1px solid @gray-lighter;
      padding-bottom: 4px;
      margin-bottom: 4px;
    }

    .title {
      font-weight: bold;
    }
    .info {
      @media (min-width: @grid-float-breakpoint) {
        display: block;
      }
      font-size: 0.9em;
    }

    overflow: hidden;
    position: relative;

    &::after {
      content: ' ';
      position: absolute;
      top: auto;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(to top, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
      height: 20%;
      pointer-events: none;
    }

    max-height: 180px;

    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
      max-height: 340px;
    }

    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
      max-height: 460px;
    }

    @media (min-width: @screen-lg-min) {
      max-height: 540px;
    }
  }

  .recent-threads {

    .avatar {
      white-space: nowrap;
    }

    .media-heading {
      h3 {
        display: inline;
      }
    }

    .other-users {
      list-style-type: none;
      padding-left: 0;
      line-height: 1.8em;

      .avatar {
        display: block;
        text-align: left;
      }
    }
  }
}