.media {
  border-bottom: 1px solid @gray-lighter;
  padding-bottom: 15px;

  &:first-child {
    border-top: 1px solid @gray-lighter;
    padding-top: 15px;
  }
}

.media-object {
  .avatar {
    margin-top: 0;
    margin-bottom: 0;
  }
}


.media-heading {

  h1, h2, h3 {
    margin: 0 0 5px 0;

    a {
      color: darken(@link-color, 8%);
    }
  }

  line-height: 1.6em;
  margin-bottom: 5px;
  min-height: 28px;
  padding-bottom: 5px;
  border-bottom: 1px solid #fafafa;

  .btn:not(.link) {
    float: right;
    margin: 0 2px;
  }
}

// Media list variants
.media-panel {
  .panel;
  .panel-default;
  .panel-body;

  &.media-panel-small {
    padding: 5px;
  }
}