.navbar-brand {
  padding: 6px 4px;
  img {
    display: inline-block;
    padding-right: 6px;
  }
}

.nav .navbar-dropdown-login {
  .navbar-form {
    width: 275px;
  }
  @media (max-width: @screen-xs-max) {
    .navbar-form {
      width: 100%;
      margin: 0 auto;
    }
  }

  label, .form-group input {
    display: block;
    width: 100%;
  }
  .form-group, .checkbox {
    margin-bottom: 10px;
    display: block;
  }
  .btn {
    display: block;
    width: 100%;
    margin-bottom: 4px;
  }
}

.nav .navbar-dropdown-search {
  input {
    min-width: 180px;
  }
}

.nav .navbar-inline-search {
  @media (max-width: @screen-xs-max) {
     form {
       margin: 0 15px;
     }
  }
  @media (min-width: @screen-sm-min) {
    input {
      max-width: 150px;
    }
  }
}

.nav > li > a.navbar-user-info {
  padding: 2px 4px;
  img {
    display: inline-block;
    padding-right: 6px;
  }
  .name {
    display: inline-block;
    max-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    word-wrap: break-word;
    @media (min-width: @screen-sm-min) {
      max-width: 110px;
    }
    @media (min-width: @screen-md-min) {
      max-width: 200px;
    }
  }
}

@keyframes background-pulse
{
   0% {background-color: lighten(@twhl-brand, 30%);}
  50% {background-color: @twhl-brand;}
 100% {background-color: lighten(@twhl-brand, 30%);}
}
.nav > li.has-notification:not(.open) {
  background: #ff7e2d;
  animation: background-pulse 5s infinite;
  position: relative;

  &::after {
    content: ' ';
    position: absolute;
    background: linear-gradient(270deg, white 0%, transparent 35%, transparent 65%, white 100%);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  * {
    z-index: 1;
  }
}
.nav .dropdown-menu .has-notification {


  a {
    color: white;
    background-color: @twhl-brand;

    &:hover {
      background-color: lighten(@twhl-brand, 10%);
    }
  }
}