.avatar-preset-chooser {
  .btn {
    width: 120px;
    height: 120px;
    padding: 5px;
    margin: 8px auto;
    display: block;
  }
}

.message-list {
  tr.unread {
    background-color: lighten(@alert-success-bg, 6%) !important;
  }
  .col-mod {
    width: 30px;
  }
}


.message-thread {
  .message {
    border: 1px solid #ccc;
    margin: 10px 0;

    .sender-info {
      padding: 5px;
      cursor: pointer;
      background-color: #fcfcfc;
      border-radius: 4px;

      &:hover {
        background-color: #fafafa;
      }
      .collapsed-only {
        display: none;
        padding-left: 20px;
        opacity: 0.6;
        max-width: 50%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        vertical-align: bottom;
      }
      &.collapsed .collapsed-only {
        display: inline-block;
      }
    }
    .message-content {
      border-top: 1px solid #ccc;

      .bbcode {
        margin: 10px;
      }
    }
  }
}

.message-thread-participants {
  border: 1px solid #ccc;
  padding: 5px !important;
  margin-bottom: 8px !important;
}

.avatar {
  display: block;
  text-align: center;
  margin: 10px auto;
  padding: 10px;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;

  img, span {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }

  .title {
    font-size: 0.9em;
  }

  &.border {
    border: 1px solid #eee;
    background-color: #fdfdfd;

    transition: all 0.3s ease;

    &:hover {
      background-color: darken(#fdfdfd, 5%);
    }
  }

  &.full {
    width: 120px;
    img {
      margin-bottom: 5px;
    }
  }

  &.small {
    width: 65px;
  }

  &.inline, &.text {
    display: inline;
    margin: 0px;
    padding: 0px;

    img, span {
      display: inline;
    }

    img {
      margin-right: 2px;
    }
  }
}